THUNDERSTORM_HOST:
THUNDERSTORM_PORT:
GLOBAL_CHANGED_FILES_DIRECTORY:
LOCKFILE:
SCAN_RESULTS_DIRECTORY:
LOG_DIRECTORY:
SAVE_FILE_HASHES:
HASH_FILE:
ONLY_SCAN_NEW_FILES:
MAX_FILE_SIZE:
SCAN_FILES_SEPARATELY:
FILE_TYPE_CONFIG_FILE:
CACHE_FILE:
